rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pengunjung publik dapat membaca konten secara real-time
    // Admin dapat memperbarui slide dan profil kepala sekolah
    match /site_content/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
